@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Varela&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Varela', sans-serif;
}

p{
    font-family: 'Lora', serif;
}

/*Navbar styling*/
.navbar{
    display: flex;
    height: 10vh;
    background: #120505;
    position: sticky;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    top: 0;
    z-index: 10;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 40px;
    padding-left: 40px;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-links{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    width: 200px;
    transition: all 0.5s ease;
}

.nav-links:hover{
    color: #fff;
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.5s ease;
}

.contact-btn{
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn{
    color: #120505;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    background: #120505;
    background-image: linear-gradient(to left, #ECE9E6 0%, #ffffff, #ECE9E6 100%);
    transition: all 1s ease;
}

.nav-btn:hover{
    color: #120505;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}

#logo{
    font-size: 3rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

/* Landing */

.landing{
    background:#fff;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-container{
    color: #120505;
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 3rem;
}

.landing-header{
    font-size: 6rem;
    text-shadow: 2px 0px 2px #BF953F,
        -2px 0px 2px #FCF6BA;
}

.landing-text{
    font-size: 3rem;
}

/* Main section*/
.main{
    background-color: #fff;
    padding: 10rem;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 4rem;
}

.img-container{
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.2),
        inset -15px -15px 15px rgba(0, 0, 0, 0.2),
        inset 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.img-card{
    background-image: url('https://images.unsplash.com/photo-1616683693504-3ea7e9ad6fec?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    height: 80vh;
    border-radius: 4px;
}

/*Product section*/
  img {
    max-width: 100%;
    height: auto;
  }
  
  .product-box{
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.4),
                -30px 0px 40px rgba(0, 0, 0, 0.4);
  }
  
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 650px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    background-color: #FFF;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
  }
  
  .product-header{
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }
  
  .prduct-text {
    font-size: .9rem;
    color: #888;
    vertical-align: middle;
    text-align: center;
  }
  
  .include-list {
    margin: 0;
    padding: 0;
    position: relative;
    left: 17px;
    font-size: .85rem;
    line-height: 1.5;
  }
  
  



/*MediaQuery*/

@media screen and (max-width: 960px) {
    .nav-container {
        padding: 0;
        display: flex;
        justify-content: center;
        height: 60px;
        width: 100%;
    }

    .menu {
        display: grid;
        position: fixed;
        transform: translateY(-200%);
        transition: transform 0.5s;
        height: 60vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: black;
        color: white;
        list-style: none;
        padding-top: 4rem;
      }

    /*Burger menu*/

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: #120505 solid 1px;
        background: #ECE9E6;
        cursor: pointer;
      }

      .closeIcon {
        display: none;
      }

      .showMenu {
        transform: translateY(0);
      }

    .nav-items{
        width: 100%;
    }

    .nav-links{
        text-align: center;
        padding: 3rem;
        width: 100%;
    }

    .contact-btn{
        padding-bottom: 1rem;
    }

    .nav-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* mobile landing */
    .landing{
        background:#fff;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .landing-header{
        font-size: 4rem;
    }

    .landing-text{
        font-size: 2rem;
    }
    /* mobile main */
    .img-card{
        display: none;
    }
    .content h1{
        display: none;
    }

    /* mobile product*/
    .product-box{
        margin-left: auto;
        margin-right: auto;
        padding-right: 25%;
    }
}

@media screen and (min-width: 960px) {
    .hamburger{
        display: none;
    }

    .landing{
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: 30px 20px 40px rgba(0, 0, 0, 0.4),
                    -30px 20px 40px rgba(0, 0, 0, 0.4);
    }

    .main{
        margin-left: 10%;
        margin-right: 10%;
        
    }

    .products{
        height: 90vh;
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: 30px 20px 40px rgba(0, 0, 0, 0.4),
                    -30px 20px 40px rgba(0, 0, 0, 0.4);
    }

    .product-card{
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    }

    .product-card:hover{
        background-color: #ECE9E6;
        opacity: 0.7;
    }
}